body{
 /* background-image: url("https://images.unsplash.com/photo-1482775907821-a56ec43344fc?dpr=3&amp");
  background-size:180%;
  color: white;*/
  font-family: 'Chela One', cursive;
    text-align: center;
}
h2{
  display:inline;
}
.text-center{
  color: red;
}
.timers div{
  display: inline-block;
  margin: 0px 20px;
}